apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    access: proxy
    url: postgres:5432
    database: fake_news
    user: user
    secureJsonData:
      password: password
    jsonData:
      sslmode: disable
